.sidebar{
    position: fixed;
    left:0;
    background-color: white;
    bottom: 0;
    top: 55px;
    width: 75px;
    z-index:200;
    
}
.button{
    height: 25px;
}
.side-info{
    font-size: 10px;
}
.sidebar-link{
    height: 115px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    cursor: pointer;

}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    height: 30px;
    margin-bottom:12px;
}
.sidebar-link div{
    font-family:Roboto,Arial;
    font-size: 10px;
}

